  
  @import '../../assets/styles/scss/mixins/colors';
  
  .button2 {
    background-color: $black-color;
    color: $white-color;
    border: 1px solid #C00F0C;
    border-radius: 12px;
    font-size: 18px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover { 
      background-color: lighten($black-color, 15%); 
      transform: translateY(-2px);
    }
  }