@import '../../assets/styles/scss/mixins/colors';
@import '../../assets/styles/scss/mixins/screen';

/* === Estilos base del menú === */
.bm-menu-wrap {
  width: 40% !important;

  @include screen-md { width: 60% !important; }
  @include screen-sm { width: 90% !important; }
}

/* === Botón Hamburguesa === */
.bm-burger-button {
  position: fixed;
  width: 1.25rem;
  height: 0.9rem;
  top: 5.5vh;
  left: 20px;
  filter: drop-shadow(0px 1px 0px #000)
}

/* color del ícono hamburguesa */
.bm-burger-bars {
  background: #fff;
}

/* efecto al pasar el mouse */
.bm-burger-bars-hover {
  background: #000;
}

/* boton de cerrar el menu*/
#react-burger-cross-btn {
    color: $bg-color;
}

/* === fondo del menú === */
.bm-menu {
  background: #cccccc;
  padding: 2.5em 1.5em 0;
  font-size: 1.2em;
}

/* cross (botón X de cerrar) */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #fff;
}

/* overlay del fondo oscuro */
.bm-overlay {
  background: rgba(0, 0, 0, 0.4);
}

/* linea horizontal*/
.bm-hr {
    border: 1px solid $bg-color;
}

/* items del menú */
.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $black-color;
  padding: 12px 0;
  text-decoration: none;
  font-family: 'Itim', cursive;
  transition: all 0.3s ease;
}

.menu-item:hover {
  color: $bg-color;
  transform: translateX(5px);
}
