@import '../../assets/styles/scss/mixins/colors';

.label {
    text-align: center;
    padding-top: 17.5px;
    padding-bottom: 17.5px;

    span {
        font-family: 'Itim';
        font-size: 1.125rem;
        font-weight: 300;
        color: $white-color;
        margin: 0;
        text-shadow: 0px 1px 0px #000;
    }
}
