@import '../../assets/styles/scss/mixins/colors';
@import '../../assets/styles/scss/mixins/screen';

.label {
    text-align: center;
    padding-top: 17.5px;
    padding-bottom: 17.5px;

    span {
        font-family: 'Itim';
        font-size: 1.25rem;
        font-weight: 300;
        color: $white-color;
        margin: 0;
        text-shadow: 0px 1px 0px #000;
        transform: all 0.3s ease;

        @include desktop { font-size: 1.175rem; }
        @include screen-md { font-size: 1.15rem; }
        @include screen-sm { font-size: 1.125rem; }
    }
}
