@import '../../../assets/styles/scss/mixins/colors';
@import '../../../assets/styles/scss/mixins/screen';

.aboutUs-content { 
  font-size: calc(1rem + .5vw);

  @include desktop { font-size: calc(2rem + .5vw); }  
  @include screen-md { font-size: calc(1.5rem + .5vw); }  
  @include screen-sm { font-size: calc(1rem + .5vw); }
}