@import '../../assets/styles/scss/mixins/colors';
@import '../../assets/styles/scss/mixins/screen';

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
    color: white;
    top: 0;
    // height: 15vh;
    height: 70px;
    width: 100%;
    font-family: 'Carter One';
    text-align: center;
    text-shadow: 0px 1px 0px #000;
    border-bottom: 7px solid darken($bg-color, 90%);   // Linea horizontal inferior
    z-index: 1000;

    // @include screen-sm { 
    //     height: 10vh; 
    //     border-bottom: 6px solid darken($bg-color, 90%);
    // }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 1.65rem;
    }
}

.u-letter { color: $u-color; }