@import '../../assets/styles/scss/mixins/colors';
@import '../../assets/styles/scss/mixins/screen';

.header {
    background-color: $bg-color;
    color: white;
    height: 15vh;
    font-family: 'Carter One';
    text-align: center;
    border-bottom: 8px solid darken($bg-color, 90%);
    padding-top: 3vh;
    text-shadow: 0px 1px 0px #000;

    @include screen-md { 
        height: 10vh; 
        border-bottom: 6px solid darken($bg-color, 90%);
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 1.65rem;
    }
}

.u-letter {
    color: $u-color;
}