@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import './assets/styles/scss/mixins/colors.scss';

.App { text-align: center; }

.view-container {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 85vh;
  background-color: $bg-color;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

// Sweetalert button container
.swal2-actions { width: 100%; }         // Button container     
.swal2-input { border-radius: 12px; }

  // Loader Global
.loader-overlay,
.loader-overlay.loader-overlay--home {
  position: fixed;
  inset: 0;
  background: $bg-color;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  gap: 1.2rem;
  z-index: 9999;
  text-align: center;
}

.loader-overlay .loader-spinner,
.loader-overlay--home .loader-spinner {
  width: 60px;
  height: 60px;
  border: 5px solid $black-color ;
  border-top-color: $white-color;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

.loader-overlay .loader-text,
.loader-overlay--home .loader-text {
  margin-top: 0;
  font-size: 1.1rem;
  color: $white-color;
}

@keyframes spin { to { transform: rotate(360deg); } }