@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import './assets/styles/scss/mixins/colors.scss';
@import './assets/styles/scss/mixins/screen.scss';

.App {
  text-align: center;
}

.App-container {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 85vh;
  margin-top: 70px;
  background-color: $bg-color;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  transition: all 0.3s ease;

  &.logged { 
    margin-top: 50px; 
    padding-bottom: 0;
  }
}

.App-form {
  display: flex;
  flex-direction: column;
  color: $white-color;
  background-color: $bg-color;
  text-align: justify;
  text-align-last: center;
  text-shadow: 0px 1px 0px $black-color;
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 30px;

  @include screen-sm { 
    padding-left: 1vw;
    padding-right: 1vw; 
  }
}

// Sweetalert 
.swal2-actions { width: 100%; } // Button container
.swal2-confirm {
  background-color: $black-color !important;
  color: $white-color;
  width: 100%;
  border-radius: 8px;
  margin-left: 35px;
  margin-right: 35px;
  padding: 16px 12px;
}
.swal2-input, .swal2-textarea { 
  font-size: 16px;
  border-radius: 12px; 
}

// Loader Global
.loader-overlay,
.loader-overlay.loader-overlay--home {
  position: fixed;
  inset: 0;
  background: $bg-color;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  gap: 1.2rem;
  z-index: 9999;
  text-align: center;
}

.loader-overlay .loader-spinner,
.loader-overlay--home .loader-spinner {
  width: 60px;
  height: 60px;
  border: 5px solid $black-color;
  border-top-color: $white-color;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

.loader-overlay .loader-text,
.loader-overlay--home .loader-text {
  margin-top: 0;
  font-size: 1.1rem;
  color: $white-color;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
