@import '../../assets/styles/scss/mixins/colors';
@import '../../assets/styles/scss/mixins/screen';

.home-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  color: $white-color;
  background-color: $bg-color;
  text-align: center;
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 30px;

  @include screen-sm { 
    padding-left: 1vw;
    padding-right: 1vw; 
  }

  .home-header {
    display: flex;
    align-items: center;
    align-self: center;
    margin-bottom: 5vh;

    button {
      position: absolute;
      right: 0;
      margin-right: 2vw;
      margin-top: 30px;
      background-color: transparent;
      border: none;
      color: $white-color;
      cursor: pointer;
      font-size: 27px;
      filter: drop-shadow(0px 1px 0px #000);
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
  } 

  .home-input {
    margin-bottom: 20px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    &:focus {
      outline: none;
      border-color: #007BFF; /* color al enfocar */
      box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
    }
  }

  .home-button {
    font-size: 22px;
    margin-bottom: 10px;
    border: 1px solid #2C2C2C;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    background-color: $button-color;
    padding: 12px;
    transition: 0.2s;

    &:hover {
      opacity: 0.9;
    }
  }

  .home-link-button {
    background-color: $black-color;
    border: 1px solid #C00F0C;
    border-radius: 20px;
    cursor: pointer;
    color: $white-color;
    margin-top: 5px;
    text-decoration: underline;
    font-size: 14px;
    text-decoration: none;
    padding: 12px;
  }

  .home-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 20px;

    li {
      margin: 0;
      padding: 0 10px;
    }

    .home-task-item {
      background-color: transparent;
      border: none;
      text-align: justify;
      width: 100%;
      margin-left: 3vw;
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      filter: drop-shadow(0px 1px 0px #000);

      li {
        text-shadow: 0px 1px 0px #fff9;
        font-weight: 600;
        font-size: calc(1.5rem + .5vw);

        @include desktop { font-size: calc(1.25rem + .5vw); }  
        @include screen-md { font-size: calc(1.1rem + .5vw); }  
        @include screen-sm { font-size: calc(1.125rem + .5vw); }
      }

      &:hover {
        box-shadow:  2px 2px 4px black;
        border-radius: 8px;
      }

      span {
        color: $white-color;
        text-shadow: 0px 1px 0px #000;
        font-size: calc(0.75rem + .5vw);
        font-weight: 600;

        @include desktop { font-size: calc(1.15rem + .5vw); }  
        @include screen-md { font-size: calc(1rem + .5vw); }  
        @include screen-sm { font-size: calc(0.85rem + .5vw); }
      }
    }
  }


}
